.feature-box{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2rem;
    padding: 1rem;

    &__icon{
        width: 7.5rem;
        height: auto;
    }

}

