.mobile-navigation {
  background-color: var(--color-primary-2);
  border-radius: 10px;
  height: 40rem;
  width: 90%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.5rem;
  font-size: 2.3rem;
  text-align: center;

  position: absolute;
  z-index: 20;

  opacity: 0;
  top: -999%;
  left: 5%;

  transition:all .2s;

}

.mobile-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;

  &__item {
    width: 90%;
    margin: 1.5rem;
  }

  &__link {
    color: var(--color-white);
  }

  &:nth-child(1) {
    border-bottom: 0.6px solid var(--color-grey-light-2);
  }
}

.mobile-nav--cta {
  & .btn-text {
    width: 100%;
    display: inline-block;
  }
}
