.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap:3rem;
    overflow: hidden;
    padding: 4rem 2rem 25rem;
    position:relative;

    &__img{
        margin-right:-49%;
        width: 130%;
    }

    & .paragraph-big,
    & .heading-primary{
        width:90%;
    }
}

.features{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lighten(hsl(0, 0%, 75%), 18);
    text-align: center;
    gap:9rem;
    padding: 4rem 2rem 10rem;
}

.section-cta{
    background-color: var(--color-primary-2);
    position: relative;
    height:30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:3.5rem;
    color:var(--color-white);

    &>*{
        position: relative;
        z-index: 10;
    }

    &__bg-img{
        position: absolute;
        top:0;
        right:0;
        height:30rem;
        z-index: 1;
        

    }
}