@use "../abstracts" as a;

.section-left {

  background-image: url("../images/bg-pattern-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  &__container {
    width: 80%;
    margin: 0 auto;

    @include a.respond(desktop) {
      width: 40%;
    }

  }

  &__sign-up {
    text-align: center;
    padding: 4rem 0;

    @include a.respond(desktop){
      text-align: left;
  }
  }

  @include a.respond(desktop) {
    width: 60%;
  }
}

.section-right {
  width: 40%;
  display: none;
  @include a.respond(desktop) {
    display: inline-block;

  }
}
